*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #211f17;
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

/* header */
.tm-header{
    display: block;
    padding: 20px;
    background-image: url('https://denomades.imgix.net/destinos/salta/256/vista-cafayate.jpg?w=907&h=494&fit=crop&q=100'); /* Cambia esto por la ruta de tu imagen */
    background-size: cover;
    background-position: center;
}

.tm-logo{
    align-content: center;
    display: block;
    margin: 0 auto;
    width: 30%;
    border-radius: 50px;
}

.tm-nav{
    position: sticky; 
    top: 0;
    max-width: 90%;
    border: 2px solid #3a382e;
    border-radius: 25px;
    display: block;
    margin: 30px auto 5px auto;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgb(255,255,255,0.18);
}

.tm-nav div{
    display: table;
    padding: 10px;
    margin: 0px auto;
}

.tm-nav div ul li{
    display:inline-block;  
}

.tm-nav div ul li a{
    font-size: 1.8vmax;
    padding: 10px 30px;
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}

.tm-nav div ul li a:hover{
    color: #ec3c6a;
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

/* Imagenes pagina principal */
.carrusel-imagenes {
    justify-content: space-around;
    background-color: #211f17;
    display: flex;
    gap: 1rem;
}

.carrusel {
    display: flex;
    flex-wrap: nowrap;
    gap: 3.5rem;
}

.carrusel-item {
    position: relative;
    min-width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.imagen-carrusel {
    width: 350px;
    height: 350px;
    display: block;
    border-radius: 25px ;
    border: 3px solid white;
    transition: transform 0.3s ease;
}

.imagen-carrusel:hover {
    transform: scale(1.05);
}

.texto-carrusel {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px;
    border-radius: 25px;
    max-width: 300px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    border: 2px solid rgb(255,255,255,0.18);
    text-align: center;
}

.negrita {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.simple {
    font-size: 1rem;
    margin: 2px 0;
}

.izquierda, .derecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.izquierda {
    left: 10px;
}

.derecha {
    right: 10px;
}

.izquierda:hover, .derecha:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

/* servicios pagina principal */
.tm-service{
    max-width: 30%;
    width: 30%;
    margin: 1.5% 12% 1.5% 10%;  
}

.tm-servicesection{
    display: flex;
    color: white;
}

.tm-serimage{
    display: inline-block;
    max-width: 20%;
    width: 10%;
    height: auto;
    padding-bottom: 10%;
    filter: brightness(0) invert(1);
}

.tm-service div{
    display: inline-block;
    max-width: 75%;
    padding: 5%;
}

.tm-service p{
    font-size: 1.5vmax;
}

.tm-service .b{
    padding-bottom: 2%;
    font-weight: 700;
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

/* Boton de hacer reservas */
.tm-res{
    background: #cc4151;
    padding: 2%;
}

.tm-resbutton p{
    display: table;
    max-width: 30%;
    margin: 0 auto;
    font-size: 2.5vw;
    padding: 2%;
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    border-radius: 25px;
}

.tm-resbutton a{
    text-decoration: none;
}

.tm-resbutton p:hover{
    color: #ec3c6a;
    background: #fff;
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

/* footer */
.tm-footer{
    background: #211f17;
    display: block;
    padding: 20px;
    position: relative;
}

.tm-us{
    display: inline-table;
    max-width: 30%;
    width: 30%;
    margin: 2% 0 2% 4%
}

.tm-address{
    display: inline-table;
    max-width: 30%;
    width: 30%;
    margin: 2% 0 2% 25%
}

.tm-us .bold, .tm-address .bold{
    color: #ec3c6a;
    font-size: 1.5vw;
    font-weight: 700;
    padding-bottom: 4%;
}

.tm-us p, .tm-address p{
    color: #fff;
    font-size: 1.2vw;
}

.tm-media{
    display: inline;
    margin: 0 0 0 59%;
}

.tm-media img{
    margin: 0.5%;
    width: 3%;
    height: auto;
}

.tm-up{
    position: absolute;
    top: 20%;
    right: 3%;
    width: 3%;
    height: auto;
}

.tm-review:focus{
    outline: none;
}

.tm-revcon:focus{
    outline: none;
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

.tm-main{
    background-color: #ec3c6a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-weight: 600;
    font-size: 2.25em;
}

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

.main__heading{
    padding-top: 2rem;
}
.btn-success{
    background-color: #cc4151 !important;
}

/* =============================================================================== */
/* MEDIA QUERIES ==================================================================== */

/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */

/* Activar cuando el ancho sea MENOR a 768px */
@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    header{
        width: 100%;
        box-sizing: border-box;
    }
    .tm-header img {
        top: 0;
        left: 0;
        width: 80%; /* Ajusta el tama침o al 100% del contenedor */
        height: auto; /* Mantiene la proporci칩n original de la imagen */
        background-color: red;
        padding: 0px;
        margin: 0 auto; /* Centra horizontalmente la imagen */
        display: block;
        box-sizing: border-box;
    }
    .tm-header{
        width: 100%;
        position: relative;
        margin: 0;
        padding: 5px;
    }
    .tm-nav{
        display: block;
        text-align: center;
        width: 100%;
        border-radius: 0%;
        margin-top: 100px; 
    }
    .tm-nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .tm-nav .tm-list {
        margin-bottom: 5px;
    }

    .tm-nav div{
        display: block;
        text-align: center;
        padding: 0px;
    }

    .tm-nav div ul li {
        padding: 0%;
    }

    .tm-nav div ul li a {
        height: 2rem;
        font-size: 1rem;
        display: block;
        text-align: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }

    .carrusel {
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .carrusel-item {
        margin: 0;
        padding: 5px;
    }

    .imagen-carrusel {
        width: 100%;
        height: auto;
        padding-bottom: 5px;
    }

    .texto-carrusel {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        text-align: center;
        padding: 1px;
        box-sizing: border-box;
        width: 80%;
    }

    .negrita {
        font-size: 4vw;
        font-weight: bold;
    }

    .simple {
        font-size: 4vw;
    }

    .carrusel-item {
        position: relative;
    }

    .tm-servicesection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .tm-service {
        display: flex;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-items: center;
    }

    .tm-serimage {
        width: 10%;
        display: block;
        margin: 0 auto;
    }

    .tm-footer {
        display: flex;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0;
        padding: 20px;
        background-color: black;
        box-sizing: border-box;
        color: white;
    }

    .tm-footer {
        flex-direction: column;
    }

    .tm-main {
        background-color: #ec3c6a;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: white;
        font-weight: 600;
        font-size: 2.25em;
        overflow: hidden; /* Asegura que no haya scroll */
    }

    .tm-service p {
        font-size: 4vw; /* Tama침o proporcional al ancho de la pantalla */
    }

    .tm-service .b {
        font-size: 4vw; /* Tama침o proporcional al ancho de la pantalla */
    }
    .tm-address{
        width: 100% !important;
        max-width: 100% !important;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        align-items: center;
    }
    .tm-address .bold{
        font-size: 4vw
    }
    .tm-address p{
        font-size: 4vw
    }
    .rcontainer {
        justify-content: center;
        width: 100%;
        overflow-x: hidden;
    }
    form div{
        display: flex;
        flex-direction: column;
        font-size: 3.5vw;
        width: 100%;
    }  
    form input, form textarea {
    width: 100%;
}
    .btn-success{
        font-size: 4vw !important;
        width: 80%;
        background-color: #cc4151 !important;
    }
}
